---
permalink: "/plugins.json"
---

{
    "data": [
        {% for plugin in collections.plugins %}
        {
            "name": "{{ plugin.data.title }}",
            "description": "{{- plugin.data.description |escape -}}",
            "url": "{{ plugin.url }}",
            "remoteUrl": "{{ plugin.data.githubUrl }}",
            "categories": [
                {% for category in plugin.data.categories %}
                    "{{category}}"{{ ',' if not loop.last }}
                {% endfor %}
            ]
        }{{ ',' if not loop.last }}
        {% endfor %}
    ]

}