<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plug11ty - The 11ty Plugin Repository</title>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@brob" />
<meta property="og:url" content="https://plug11ty.com/{{page.url}}" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:image" content="https://plug11ty.com/assets/plug-social.png" />



</head>
<body>
    {% include "header.njk" %}
    <section class="banner bg-green-200 py-20 mb-10">
        <div class="container max-w-5xl mx-auto">
        {% block bannerContent %}
            <h1 class="text-5xl mb-2">{{ title }}</h1>
            <p class="text-xl">{{ description }}</p>
        {% endblock bannerContent %}
        </div>

    </section>
    <main class="main container min-h-screen mx-auto">
       {% block main %}
            {{ content | safe }}
       {% endblock main %}
    </main>

    {% include "footer.njk" %}

</body>
</html>