
<footer class="bg-green-200 mt-12 py-4">
    <div class="container max-w-5xl mx-auto text-center">
        &copy; 2020 | Built with <a href="https://11ty.dev">11ty</a> | Maintained by <a href="https://bryanlrobinson.com">Bryan Robinson</a>
    </div>
</footer>