{% extends 'base.njk' %}

{% block main %}
    <h2>Plugins</h2>
    <div class="flex mb-4 -mx-2">
    {% for plugin in collections.plugins %}
        <div class="w-full sm:w-1/2 md:w-1/3 flex-grow  mx-2 mb-4   rounded overflow-hidden shadow-md hover:bg-green-100 hover:shadow-lg">
            <a href="{{ plugin.url }}">
            <div class="px-6 py-4">
                <h3 class="font-bold text-xl mb-2">{{ plugin.data.title }}</h3>
                <p class="text-gray-700 text-base">
                    {{ plugin.data.description }}
                </p>
            </div>
            <div class="px-6 py-4">
                {% for category in plugin.data.categories %}
                    <span class="inline-block bg-green-100 border-2 border-green-300 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">{{ category }}</span>
                {% endfor %}
            </div>

            </a>
        </div>
    {% endfor %}
    </div>
{% endblock main %}