{% extends 'base.njk' %}

{% block main %}
    <div x-data="loadPlugins()">
      <input x-ref="searchField" x-model="search" x-on:keydown.window.prevent.slash="$refs.searchField.focus()" placeholder="Search for an employee..." type="search" class="block w-full bg-gray-200 focus:outline-none focus:bg-white focus:shadow text-gray-700 font-bold rounded-lg px-4 py-3 mb-6">

    <div class="flex align-center">
        <h2>Plugins</h2>
        <a href="/admin/#/collections/plugins/new" class="self-center text-sm px-4 py-2 leading-none border rounded hover:border-transparent hover:bg-green-200 ml-auto">Add Plugin</a>
    </div>
    <div class="flex flex-wrap mb-4 -mx-4">
        {% for plugin in collections.plugins %}
            <div x-show="false" class="w-full sm:w-1/2 md:w-1/3 flex-grow mb-10 mx-4 rounded overflow-hidden shadow-md hover:bg-green-100 hover:shadow-lg">
                <a href="{{ plugin.url }}">
                    <div class="px-6 py-4">
                        <h3 class="font-bold text-xl mb-2">{{ plugin.data.title }}</h3>
                        <p class="text-gray-700 text-base">
                            {{ plugin.data.description }}
                        </p>
                    </div>

                    <div class="px-6 py-4">
                        {% for category in plugin.data.categories %}
                            <span class="inline-block bg-green-100 border-2 border-green-300 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">{{ category }}</span>
                        {% endfor %}
                    </div>
                </a>
            </div>
        {% endfor %}
        <template x-for="item in filteredPlugins" :key="item">
            <div class="w-full sm:w-1/2 md:w-1/3 flex-grow mb-10 mx-4 rounded overflow-hidden shadow-md hover:bg-green-100 hover:shadow-lg">
                <a x-bind:href="item.url">
                    <div class="px-6 py-4">
                        <h3 class="font-bold text-xl mb-2" x-text="item.name"></h3>
                        <p class="text-gray-700 text-base" x-text="item.description">
                        </p>
                    </div>

                    <div class="px-6 py-4">
                        <!-- {% for category in plugin.data.categories %} -->
                        <template x-for="category in item.categories">
                            <span class="inline-block bg-green-100 border-2 border-green-300 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2" x-text="category">{{ category }}</span>
                            <!-- {% endfor %} -->
                        </template>
                    </div>
                </a>
            </div>
        </template>
    </div>
    </div>
{% endblock main %}