{% extends 'base.njk' %}


{% block bannerContent %}


    <h1 class="text-5xl">{{ title }}</h1>
    <p class="mb-5">{{ description }}</p>
    <ul class="links flex flex-wrap py-2 justify-start -mx-2">
        <li class="mx-2"><a class="bg-transparent hover:bg-green-500 text-green-100 font-semibold hover:text-white py-2 px-4 border border-green-100 hover:border-transparent rounded" href="{{ githubUrl }}">Repository</a></li>
        <li class="mx-2"><a class="bg-transparent hover:bg-green-500 text-green-100 font-semibold hover:text-white py-2 px-4 border border-green-100 hover:border-transparent rounded" href="{{ maintainer.url }}">Maintained by {{ maintainer.name }}</a></li>
        <li class="mx-2"><a class="bg-transparent hover:bg-green-500 text-green-100 font-semibold hover:text-white py-2 px-4 border border-green-100 hover:border-transparent rounded" href="/admin/#/edit/plugins/{{ page.fileSlug }}">Edit</a></li>
    </ul>
{% endblock bannerContent %}